* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.alert {
    border-radius: 20px;
    border: 1px solid darkred;
    margin: 3rem;
}

